@font-face {
    font-family: font1;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: font2;
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: font3;
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: font4;
    src: url(../font/Poppins-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: font2;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f5f5f5;
}

/* navbar */
.navbar {
    background-color: #f5f5f5;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    border-bottom: 1px solid #5ce1e6;
}

.navbar .navbar-logo {
    font-size: 2rem;
    color: #1a1a1a;
    font-weight: bold;
    text-decoration: none;
    font-family: font4;
}

.navbar .navbar-logo span {
    color: #5ce1e6;
}

.navbar .navbar-menu a {
    color: #1a1a1a;
    font-size: 1.1rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-family: font2;
}

.navbar,
.navbar-menu a:hover {
    color: #191970;
}

.navbar .navbar-menu a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #191970;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-menu a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-icon a {
    color: #1a1a1a;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

#btn-menu {
    display: none;
}

.navbar .user {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 15vh;
    width: 10rem;
    padding: 0 1rem;
    color: #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 5px 5px;
    box-shadow: 0 1px 5px rgba(245, 245, 245, 5);
    transform: scaleX(0);
    transition: 0.3s;
}

.navbar .user.active {
    right: 20px;
    transform: scaleX(1);
}

.navbar .user li {
    list-style: none;
    margin: 15px;
}

.navbar .user a {
    text-decoration: none;
    font-size: 1.2rem;
}

/* search-form */
.navbar .search-form {
    position: absolute;
    display: flex;
    top: 110%;
    right: 12%;
    width: 30%;
    align-items: center;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: top;
}

.navbar .search-form.active {
    transform: scaleX(1);
}

.navbar .search-form input {
    font-size: 1.2rem;
    padding: 1rem;
}


/* hero section */
.hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero #owl-nav .owl-prev,
.hero #owl-nav .owl-next {
    position: absolute;
    top: 45%;
    top: 40%;
    z-index: 10;
    border: none;
    background-color: #01497c;
    color: #f5f5f5;
    outline: none;
    padding: 10px 25px;
    font-size: 10px;
}

.hero #owl-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

.hero #owl-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.hero #owl-nav .owl-prev:hover,
.hero #owl-nav .owl-next:hover {
    background-color: #800000;
    cursor: pointer;
    transition: 0.3s;
}

.hero .content {
    position: absolute;
    top: 20%;
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 4rem;
    color: #1a1a1a;
    font-family: font3;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero .content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-family: font2;
    text-align: justify;
    max-width: 70%;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    color: #1a1a1a;
}

.hero .content .btn {
    padding: 0.6rem 2rem;
    font-size: 1.4rem;
    font-family: font2;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

/* about */
.about {
    margin-top: 7rem;
    background-color: #f5f5f5;
    box-shadow: 0px 1px 5px rgba(92, 225, 230, 1.5);

}

.about .about-img {
    flex: 1 1 45rem;
}

.about .about-img img {
    width: 100%;
    height: 350px;
}

.about .content h3 {
    font-size: 2rem;
    color: #000000;
}

.about .content {
    padding: 1rem 1.5rem;
}

.about .content p {
    text-align: justify;
}

/* produk */
.produk {
    margin-top: 50px;
}

.produk-box {
    background-color: #fff;
    margin: 0 0 30px;
    border-radius: solid #e6e6e6;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 1px 5px rgba(92, 225, 230, 1.5);
}

.produk-box h2 {
    font-family: font3;
    font-size: 35px;
    color: #333333;
    font-weight: 7000;
    text-align: center;
    text-transform: uppercase;

}

.produk .card {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
}

.produk .card-body h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.produk .content {
    text-align: center;
}

.produk .content h5,
.produk .content p {
    color: #000000;
    font-weight: 700;
}

/*pagination*/
.pagination {
    margin-top: 3rem;
}

.pagination li {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.pagination .prev a,
.pagination .next a {
    background-color: #0ab1ce;
}

.pagination .active {
    background-color: #0ab1ce;
    color: #fff;
}

.pagination a:hover {
    background-color: #0ab1ce;
    color: #fff;
}


/* kontak */
.kontak {
    padding: 0 0 50px;
    margin-top: 5rem;
}

.kontak .kontak-map iframe {
    flex: 1 1 45%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.kontak .kontak-form {
    color: #000000;
    margin-top: 10px;
}

.kontak .kontak-form .card {
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

/* page-produk */
.page-produk {
    margin: 2rem 0;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.breadcrumb>li+li:before {
    content: "\00a0 > \00a0";
    color: #ccc;
}

.page-produk .card {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.page-produk .card-header h4 {
    font-size: 20px;
    font-weight: 700;
}

.page-produk .nav a:hover {
    background-color: #eee;
}

.page-produk .nav a {
    font-size: 16px;
    font-weight: 600;
}

.page-produk .box h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.page-produk .card-produk {
    text-align: center;
    font-weight: 600;
    color: #000000;
}

.page-produk .card-produk h5 {
    font-weight: 600;
}

/* detail-produk */
.detail-produk {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#owl-nav .owl-prev,
#owl-nav .owl-next {
    position: absolute;
    top: 40%;
    z-index: 10;
    border: none;
    background-color: #01497c;
    color: #fff;
    outline: none;
    padding: 10px 15px;
    font-size: 10px;
}

#owl-nav .owl-prev {
    left: 10px;
    border-radius: 0 50px 50px 0;
}

#owl-nav .owl-next {
    right: 10px;
    border-radius: 50px 0 0 50px;
}

.detail-produk .owl-carousel {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
}

.detail-produk .detail-form h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}

.detail-produk .detail {
    margin-top: 2rem;
}

.detail-produk .detail h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.detail-produk .detail-form a {
    color: green;
    font-size: 50px;
    background-color: white;
}

/* page keranjang */
.page-keranjang {
    margin: 2rem 0;
}

.page-keranjang .card {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
}

.page-keranjang .box {
    margin-bottom: 2rem;
}

#login h1 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: bold;
}

#login i {
    font-size: 1.5rem;
    color: #01497c;
}

/* page-profile-pelanggan */
.page-profil {
    margin: 2rem 0;
}

.page-profil .card {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.page-profil .card-title h2 {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.page-profil .nav {
    text-align: center;
}

.page-profil .nav a {
    font-size: 1.2rem;
    font-weight: 600;
}

.page-profil .nav a:hover {
    background-color: #2121217a;
}

/* footer */
footer {
    padding: 1rem 0;
    background-color: #222;
    margin-top: 5rem;
    color: #fff;
}

footer h3 {
    margin-bottom: 1rem;
}

footer .footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

footer .footer-menu li {
    list-style: none;
}

footer .footer-menu a:hover {
    color: #800000;
}

footer .footer-kontak {
    font-size: 1.1rem;
}

footer .footer-social a {
    margin: 0 10px 0 0;
    display: inline-block;
    color: #01497c;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    background-color: #fff;
    text-decoration: none;
}

footer .footer-social a:hover {
    background-color: #800000;
    color: #fff;
}

.created {
    padding: 0.5rem;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    background-color: #222;
}

/* responsive */
/* untuk laptop */
@media(max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* untuk tablet */
@media(max-width: 768px) {
    html {
        font-size: 75%;
    }

    /* ketika layar tablet maka btn-menu muncul */
    #btn-menu {
        display: inline-block;
    }

    .navbar .navbar-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(244, 244, 244, 0.8);
        backdrop-filter: blur(5px);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        transform: scaleX(0);
    }

    .navbar .navbar-menu.active {
        right: 0;
        transform: scaleX(1);
    }

    .navbar .navbar-menu a {
        color: #191970;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .navbar .navbar-menu a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-menu a:hover::after {
        transform: scaleX(0.2);
    }

    /* search-form */
    .navbar .search-form {
        right: 6%;
        width: 50%;
    }

    .navbar .search-form input {
        font-size: 1rem;
        padding: 1rem;
    }

    /* hero */

    .hero {
        top: -120px;
    }

    /* .hero .item img {
        width: 410px;
        height: auto;
    } */

    .hero #owl-nav .owl-prev,
    .hero #owl-nav .owl-next {
        top: 44%;
        outline: none;
        padding: 10px 5px;
        font-size: 10px;
    }

    .hero .content {
        position: absolute;
        top: 10%;
        /* padding: 1.5rem 9%;
        color: #fff; */
    }

    .hero .content h1 {
        font-size: 2.5rem;
    }

    .hero .content p {
        font-size: 1rem;
        max-width: 60%;
    }

    .hero .content .btn {
        font-size: 1rem;
    }

    /* detail produk */
    #owl-nav .owl-prev,
    #owl-nav .owl-next {
        padding: 10px 10px;
        font-size: 10px;
    }

    .page-produk .container .detail-produk .item img {
        width: 150px;
        height: 300px;
    }

    /* produk */
    .produk {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .produk .card {
        position: relative;
        width: 150px;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .produk .card img {
        width: 150px;
        height: auto;
        margin: auto;
    }

    .produk .card h5 {
        font-size: 12px;
    }

    .produk .card a {
        margin-bottom: 5px;
    }

    .produk .card p {
        font-size: 10px;
    }

    .produk-box h2 {
        font-size: 30px;
    }

    /* abaout */
    .about {
        margin-top: -150px;
    }

    /* page produk */
    .page-produk .box {
        margin-top: 20px;
    }

    /* detail produk */
    .page-produk .box {
        margin-top: 20px;
    }

    /* page keranjang */
    .page-keranjang .text-right {
        display: flex;
        margin-top: 10px;
    }

    /* profil */
    .page-profil .card {
        margin-top: 20px;
    }

    /* footer */
    footer {
        padding: 5rem 0;
        margin-top: 8rem;
    }

    footer .container h3 {
        font-size: 1.1rem;
        font-weight: 700;
    }

    footer .container .footer-social a {
        margin-top: 0.8rem;
    }

    footer .container .footer-kontak {
        font-size: 8px;
    }


}

/* untuk smartphone */
@media(max-width: 450px) {
    html {
        font-size: 45%;
    }
}